
Readings/CMPE493 SYLLABUS FALL 2020.pdf
Readings/D14-1037.pdf
Readings/Daniel Jurafsky, James H. Martin - Speech and Language Processing_ An Introduction to Natural Language Processing, Computational Linguistics, and Speech Recognition-Prentice Hall (2008).pdf
